{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>

  {{ if ne .Type "page" -}}
  <div class="post-date">
    {{ $.Param "author" }} | <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> | {{ .ReadingTime }} min read
  </div>
  <hr>
  {{- end }}

  {{ .Content }}
</div>

{{ if (and .Site.DisqusShortname (ne .Params.DisableComments true) (ne .Params.disable_comments true)) -}}
<h2>Comments</h2>
<!-- {{ template "_internal/disqus.html" . }} -->
<div class="fb-comments" data-href="https://www.suvashsumon.xyz/" data-width="100%" data-numposts="5"></div>

                            
{{- end }}

{{- end }}
